/*

selection {

vlastnost1: hodnota;
vlastnost2: hodnota;
vlastnost3: hodnota;
vlastnost4: hodnota;

}

*/
* {
    box-sizing: border-box;
    font-family: sans-serif;
    text-align: center;
  }
  
  body {
    background: #f9f9f9;
    padding: 20px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  header {
    background: #ccc;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .content {
    display: flex;
    gap: 20px;
  }
  
  .sidebar {
    background: #ccc;
    padding: 20px;
    width: 150px;
  }
  
  .main {
    background: #ccc;
    padding: 20px;
    flex: 1;
  }
  
  footer {
    background: #ccc;
    padding: 20px;
    margin-top: 20px;
  }

h1 {
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 10px;
}
nav a {
    background-color: blue;
    color: beige;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}
nav a:hover{
    background-color: black;
}
